*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: "Arimo", sans-serif;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

header{
    background-color: rgb(243, 2, 54);
    display: flex;
    align-items: center;
    
}

header img{
    width: auto;
    height: 100px;
    margin: 35px;
}

.busca {
  position: relative;
  width: 100px;
  margin: 50px;
}

.busca input {
  width: 48rem;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 7px;
}

.busca img {
  position: absolute;
  left: 700px;
  top: 26px;
  transform: translateY(-250%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.cadastro{
    display: flex;
    align-items: center;
    color: white;
    margin-left: 670px;
    padding: 20px;
    transition: 0.5s;
}

.cadastro img{
    width: auto;
    height: 45px;
}

.cadastro span{
    font-weight: 600;
}

.cadastro:hover{
    transform: scale(1.2);
}

.icons {
    display: flex;
}

.icons img{
    width: auto;
    height: 35px;
    align-items: center;
    margin-left: 80px;
}

.loja{
    transition: 0.5s;
}

.loja:hover{
    transform: scale(1.5);
}

.favoritos{
    transition: 0.5s;
}

.favoritos:hover{
    transform: scale(1.5);
}

.compras{
    transition: 0.5s;
}

.compras:hover{
    transform: scale(1.5);
}




#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 30px;
    text-align: center;
    gap: 2.5rem;
}

#container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 20px gray;
    transition: 0.5s;
    height: 620px;
}

#container div:hover {
    transform: scale(1.05);
}

#container img{
    width: auto;
    height: 150px;
    object-fit: contain;
    margin: 20px auto;
}

#container h1{
    font-size: 2rem;
    margin: 10px;
}

#container p{
    font-size: 1rem;
    margin: 15px;
}

#container h2{
    font-size: 2rem;
}

#container span{
    color: gray;
    font-style: italic;
}

#container h3{
    font-size: 24px;
    color: rgb(226, 1, 12);
}

button {
    display: block;
    margin: 15px auto;
    height: 50px;
    width: 140px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(243, 2, 54);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    transform: scale(1.2);
}


footer{
    text-align: center;
    font-style: italic;
    margin: 10px;
}
